<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Exibe uma coisa</ion-title>
    <ion-icon name="cube" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-card *ngIf="thing">
    <ion-card-header>
      <ion-card-title>{{ thing.name }}</ion-card-title>
      <ion-card-subtitle>{{ thing.location }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ thing.description }}
      <ul>
        <li>Em: {{ thing.date | date: 'dd/MM/yyyy' }}</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>