<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sobre</ion-title>
    <ion-icon name="information-circle" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <img src="assets/tecnician.png" style="width: 100%; max-width: 400px; display: block; margin: auto;">

  <p><em>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque quasi nostrum similique nulla odio dolores
      voluptates minus assumenda minima consequatur ullam facere, alias aperiam delectus, ea dolore doloribus, magni
      quas.</em></p>
  <h3>Lorem Ipsum</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus inventore officia harum autem sed, ipsam
    adipisci illum. Nam, odit magni. Vel, natus tempora. Tempora harum provident veniam qui iure.</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam facilis itaque ullam ab numquam incidunt, nihil
    eos doloremque ipsa, vel quibusdam sed ducimus error accusantium quam et deleniti repellendus rerum?</p>
  <h3>Aperiam facilis</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex corporis tempora repudiandae, ducimus quae consequuntur
    excepturi distinctio fuga aspernatur dignissimos tenetur laboriosam amet quasi optio harum, error sed rerum
    provident!</p>
  <ul>
    <li><a href="https://github.com/Luferat" target="_blank">GitHub</a></li>
    <li><a href="https://luferat.net" target="_blank">Luferat.Net</a></li>
    <li><a href="https://catabits.com.br" target="_blank">CataBits</a></li>
  </ul>
  <h3>Adipisicing</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dicta aspernatur repellendus harum recusandae est
    cupiditate, labore atque? Rem non dignissimos incidunt? Ut soluta vitae itaque similique qui corporis ab.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit nam sunt blanditiis mollitia at molestiae veniam
    repellendus voluptate possimus cum autem quis beatae quidem ipsa, amet quae illo assumenda dolore!</p>

</ion-content>